.sidebar {
    width: 100%;
    position: relative;

    .sidebar-content {
        position: fixed;
        top: 65px;
        overflow-x: hidden;
        overflow-y: auto;
        overscroll-behavior-y: contain;
        width: 340px;
        z-index: 1802;
        bottom: 0;
        padding-right: 12px;
    }
}
