$--border: rgba(34, 90, 89, 0.2);
$--pink: #fe2c55;
$--white: #fff;
$--black: #000;
$--gray--bg: rgba(22, 24, 35, 0.06);
$--gray--text: rgba(22, 24, 35, 0.5);
$--black--text: #161823;
$--pink--hover: rgba(254, 44, 85, 0.06);
$--border--gray: rgba(22, 24, 35, 0.12);
